services:
  app:
    image: "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_NAME}"
    container_name: workflow_backend_stage
    restart: unless-stopped
    command: >
      sh -c "alembic upgrade head &&
       python manage.py init_credential_types &&
       gunicorn --workers 4 --bind 0.0.0.0:8000 -k uvicorn.workers.UvicornWorker main:app --forwarded-allow-ips='*'"
    ports:
      - "127.0.0.1:10084:8000"
    env_file:
      - .env
    volumes:
      - ./media:/code/media
      - ./static:/code/static
    depends_on:
      - db
      - rabbitmq
      - redis
    networks:
      - workflow_network_stage

  celery_worker:
    image: "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_NAME}"
    container_name: workflow_celery_stage
    restart: unless-stopped
    command: celery -A celery_app worker --loglevel=info --pool=gevent --concurrency 24
    healthcheck:
      test: ["CMD", "celery", "status"]
      interval: 30s
      timeout: 10s
      retries: 1
    env_file:
      - .env
    volumes:
      - ./media:/code/media
    depends_on:
      - db
      - rabbitmq
      - redis
    networks:
      - workflow_network_stage
  
  celery_worker_message:
    image: "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_NAME}"
    container_name: workflow_celery_message_stage
    restart: unless-stopped
    command: celery -A celery_app worker --loglevel=info --concurrency 4 -Q message
    healthcheck:
      test: ["CMD", "celery", "status"]
      interval: 30s
      timeout: 10s
      retries: 1
    env_file:
      - .env
    volumes:
      - ./media:/code/media
    depends_on:
      - db
      - rabbitmq
      - redis
    networks:
      - workflow_network_stage

  celery_beat:
    image: "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_NAME}"
    container_name: workflow_celery_beat_stage
    restart: unless-stopped
    command: celery -A celery_app beat -S sqlalchemy_celery_beat.schedulers:DatabaseScheduler -l info
    healthcheck:
      test: ["CMD", "celery", "status"]
      interval: 30s
      timeout: 10s
      retries: 1
    env_file:
      - .env
    volumes:
      - ./media:/code/media
    depends_on:
      - db
      - rabbitmq
      - redis
    networks:
      - workflow_network_stage

  db:
    image: postgres:17-bookworm
    container_name: workflow_db_stage
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - workflow_network_stage

  rabbitmq:
    image: rabbitmq:4.0.5-management
    container_name: workflow_rabbitmq_stage
    restart: unless-stopped
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - ./rabbitmq_data:/var/lib/rabbitmq
    networks:
      - workflow_network_stage
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 10s
      retries: 3

  rabbitmq_websocket:
    image: rabbitmq:4.1.0-management
    container_name: workflow_rabbitmq_websocket_stage
    restart: unless-stopped
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - ./rabbitmq_data_websocket:/var/lib/rabbitmq
    networks:
      - workflow_network_stage
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 10s
      retries: 3

  redis:
    image: redis:7.4.0-alpine
    container_name: workflow_redis_stage
    restart: always
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - ./redis_data:/data
    networks:
      - workflow_network_stage
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 5s
      retries: 3

networks:
  workflow_network_stage:
