asyncpg==0.30.0
argon2-cffi==25.1.0
asgiref==3.8.1
alembic==1.15.2
fastapi>=0.68.0
fastapi-pagination==0.13.1
itsdangerous==2.2.0
git+https://github.com/aminalaee/fastapi-storages.git@edc624fb647e128e82669f19b195e670a4714dfd#egg=fastapi-storages
uvicorn[standard]>=0.15.0
pydantic[email]>=2
sqlalchemy>1.4.0
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.5
pydantic-settings==2.9.1
aiohttp>=3.8.0
celery==5.5.2
redis==5.0.3
python-decouple==3.8
psycopg[binary]==3.2.7
requests==2.31.0
gevent==24.11.1
starlette-admin==0.15.1
gunicorn==23.0.0
cryptography==42.0.5
boto3==1.34.69
pyjwt==2.10.1
pika==1.3.2
aio-pika==9.4.1
beautifulsoup4==4.13.4
croniter==6.0.0
pytz==2025.2
feedparser==6.0.11
httpx==0.28.1
sqlalchemy-celery-beat==0.8.4
langchain>=0.3.0
langchain-cohere>=0.3.0
langchain-openai>=0.2.0
langchain-qdrant>=0.2.0
langchain-core>=0.3.0

# Observability / Tracing
langfuse>=3.0.0
PyMySQL==1.1.2